@if (label) {
<app-label [for]="id">{{ label }}</app-label>
} @if (ngControl) {
<input
  [placeholder]="placeholder"
  [disabled]="disabled"
  [ngClass]="{
    invalid: ngControl.invalid && ngControl.touched,
    valid: ngControl.valid && ngControl.touched
  }"
  [ngModel]="value"
  [type]="type"
  [id]="id"
  class="input"
  (ngModelChange)="onInputChange($event)"
  (blur)="onInputBlur()"
/>
} @if (ngControl && ngControl.errors && ngControl.touched) {
<app-error-message
  [controlErrors]="ngControl.errors"
  [errorState]="errorState"
></app-error-message>
}
