<app-label *ngIf="label" [for]="id">{{ label }}</app-label>

<input
  class="input"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [ngClass]="{
    invalid: ngControl.errors && ngControl.touched,
    valid: !ngControl.errors
  }"
  [ngModel]="value"
  [type]="type"
  [id]="id"
  (ngModelChange)="onInputChange($event)"
  (blur)="onInputBlur()"
/>

<app-error-message
  *ngIf="ngControl.errors && ngControl.touched"
  [errorState]="errorState"
  [controlErrors]="ngControl.errors"
></app-error-message>
