:host {
  display: block;
  width: 100%;
}

.input {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 8px;
  border: 1.5px solid black;

  &.valid:not(&.invalid, &:focus, &:disabled) {
    border-color: green;
  }

  &.invalid {
    border-color: red;
  }

  &:focus:not(&.invalid, &:disabled) {
    border-color: blue;
  }
}
