<app-label *ngIf="label" [for]="id">{{ label }}</app-label>

<input
  *ngIf="ngControl"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [ngClass]="{
    invalid: ngControl.invalid && ngControl.touched,
    valid: ngControl.valid && ngControl.touched
  }"
  [ngModel]="value"
  [type]="type"
  [id]="id"
  class="input"
  (ngModelChange)="onInputChange($event)"
  (blur)="onInputBlur()"
/>

<app-error-message
  *ngIf="ngControl && ngControl.errors && ngControl.touched"
  [controlErrors]="ngControl.errors"
  [errorState]="errorState"
></app-error-message>
