:host {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 12px;
}

.name {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--gray_dark10);
}
