:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
}

.contact-container {
  display: flex;
  gap: 12px;
}

.name {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--gray_dark10);
}

.identifier {
  font-size: 11px;
}

// Style for modes
:host-context([mode='night']) {
  .name {
    color: var(--white1);
  }

  .identifier {
    color: var(--gray_light8);
  }
}
