:host {
  display: inline-block;
  width: 100%;
}

.button {
  width: 100%;
  font-size: 13px;
  font-weight: var(--font_weight_medium);
  line-height: 15px;
  font-style: normal;
}

.variant {
  &-regular {
    background-color: var(--blue_semi-light9);
    color: var(--white1);
  }
}

.type {
  &-regular {
    padding: var(--spacing_6);
    border-radius: var(--border-radius_4);
  }

  &-medium {
    padding: var(--spacing_12);
    border-radius: var(--border-radius_7);
  }

  &-large {
    padding: var(--spacing_16);
    border-radius: var(--border-radius_4);
  }

  &-text {
    padding: var(--spacing_16);
    border-radius: var(--border-radius_4);
    background-color: transparent;
    color: var(--blue_semi-light9);
  }
}
