:host {
  display: inline-block;
}

.button {
  padding: 8px 16px;
}

.primary {
  background-color: green;
  color: green;

  &:hover:not(&:disabled) {
    background-color: green;
  }

  &:disabled {
    background-color: green;
  }
}

.secondary {
  background-color: green;
  color: green;

  &:hover:not(&:disabled) {
    background-color: green;
  }

  &:disabled {
    background-color: green;
  }
}

.tertiary {
  color: green;
  text-decoration: underline;

  &:hover:not(&:disabled) {
    color: green;
  }

  &:disabled {
    color: green;
  }
}
