:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../../../../../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
