<ng-container *ngrxLet="componentVM$; let VM">
  <ng-container *ngIf="VM.userVM.selectedContact; else noSelectedContact">
    <app-chat-top-bar
      [selectedContact]="VM.userVM.selectedContact"
    ></app-chat-top-bar>

    <app-chat-body [messages]="VM.chatVM.messages"></app-chat-body>

    <app-chat-input
      [input]="VM.chatVM.input"
      (setInput)="setInput($event)"
      (sendMessage)="sendMessage()"
    ></app-chat-input>
  </ng-container>
</ng-container>

<ng-template #noSelectedContact>
  <app-no-selected-contact></app-no-selected-contact>
</ng-template>
