<ng-container *ngrxLet="{ user: userVm$, chat: chatVm$ }; let vm">
  @if (vm.chat.selectedDialog) {
  <app-chat-top-bar [selectedDialog]="vm.chat.selectedDialog"></app-chat-top-bar>

  <app-chat-body
    [isLoading]="vm.chat.isLoading"
    [messages]="vm.chat.messages"
    [uuid]="vm.user.userData?.id"
  ></app-chat-body>

  <app-chat-input
    placeholder="Write a message..."
    [input]="vm.chat.input"
    (scrollDown)="scrollDown()"
  ></app-chat-input>
  } @else {
  <app-no-selected-contact></app-no-selected-contact>
  }
</ng-container>
