@import '../../../../../../../../../assets/styles/variables';

:host {
  display: flex;
  gap: 8px;
  width: fit-content;
  padding: 8px;
  border-radius: 12px;
  background-color: map-get($colorful-palette, white);
}

.message {
  font-family: $inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: map-get($colorful-palette, richBlack);
}

.like {
  font-size: 13px;
}

.like-pic {
  position: relative;
  bottom: -2px;
}

.message-date {
  position: relative;
  bottom: -4px;
  font-family: $inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: map-get($colorful-palette, navyGrey);
}
