<aside *ngrxLet="{ userVm: vm$, versions: versions$ }; let vm" class="aside">
  @if (vm.userVm.essentialData) {
  <header class="header">
    <div class="top-header">
      <app-avatar
        [safeName]="vm.userVm.essentialData.name"
        [src]="vm.userVm.essentialData.avatar"
        variant="large"
      ></app-avatar>
    </div>

    <span class="user-name">{{ vm.userVm.essentialData.name }}</span>
  </header>
  }

  <ul class="menu-list">
    <li class="menu-item" (click)="onContactsModalOpen()">
      <img [ngSrc]="'account-circle' | icon" width="20" height="20" alt="account" />
      <span>Contacts</span>
    </li>

    <li class="menu-item">
      <img [ngSrc]="'settings' | icon" width="20" height="20" alt="settings" />
      <span>Settings</span>
    </li>

    <li class="menu-item mode-toggle-item" (click)="onModeChange()">
      <div class="image-and-text-holder">
        <img [ngSrc]="'dark-mode' | icon" width="20" height="20" alt="mode" />
        <span>Night Mode</span>
      </div>

      <app-switcher
        [formControl]="themeModeSwitcher"
        checkboxId="night-mode-switcher-id"
        class="switcher"
      ></app-switcher>
    </li>

    <li class="menu-item danger" (click)="openLogOut()">
      <img [ngSrc]="'log-out-red' | icon" width="20" height="20" alt="logOut" />
      <span>Log Out</span>
    </li>
  </ul>

  <footer class="footer">
    <div class="telegram-desktop" (click)="openTelegramDesktop()">Telegram Desktop</div>

    <div class="telegram-info">
      <span *ngIf="vm.versions.length" class="telegram-info-text" (click)="openVersion()"
        >Version {{ vm.versions[0].version }}
      </span>
      <span> — </span>
      <span class="telegram-info-text" (click)="openAbout()">About</span>
    </div>
  </footer>
</aside>
