<aside *ngrxLet="{ userVm: vm$, versions: versions$ }; let vm" class="aside">
  <header class="header">
    <div class="top-header">
      <app-avatar
        [safeName]="vm.userVm.name"
        [src]="vm.userVm.avatar"
        variant="large"
      ></app-avatar>
    </div>

    <span class="user-name">{{ vm.userVm.name }}</span>
  </header>

  <ul class="menu-list">
    <li class="menu-item">
      <img [ngSrc]="'account-circle' | icon" width="20" height="20" alt="account" />
      <span class="text">Contacts</span>
    </li>

    <li class="menu-item">
      <img [ngSrc]="'bookmark' | icon" width="20" height="20" alt="bookmark" />
      <span class="text">Saved Messages</span>
    </li>

    <li class="menu-item">
      <img [ngSrc]="'settings' | icon" width="20" height="20" alt="settings" />
      <span class="text">Settings</span>
    </li>

    <li class="menu-item">
      <img [ngSrc]="'dark-mode' | icon" width="20" height="20" alt="mode" />
      <span class="text">Night Mode</span>
    </li>
  </ul>

  <footer class="footer">
    <div class="telegram-desktop" (click)="openTelegramDesktop()">Telegram Desktop</div>

    <div class="telegram-info">
      <span class="telegram-info-text" (click)="openVersion()"
        >Version {{ vm.versions[0].version }}
      </span>
      <span> - </span>
      <span class="telegram-info-text" (click)="openAbout()">About</span>
    </div>
  </footer>
</aside>
