<aside
  *ngrxLet="
    {
      isNotificationSoundOn: isNotificationSoundOn$,
      essentialData: essentialData$,
      versions: versions$
    };
    let vm
  "
  class="aside"
>
  @if (vm.essentialData) {
  <header class="header">
    <div class="top-header">
      <app-avatar
        [safeName]="vm.essentialData.name"
        [src]="vm.essentialData.avatar"
        variant="large"
      ></app-avatar>
    </div>

    <span class="user-name">{{ vm.essentialData.name }}</span>
  </header>
  }

  <ul class="menu-list">
    <li (click)="onContactsModalOpen()" class="menu-item">
      <img [ngSrc]="'account-circle' | icon" alt="account" height="20" width="20" />
      <span>Contacts</span>
    </li>

    <li (click)="onSettingsModalOpen()" class="menu-item">
      <img [ngSrc]="'settings' | icon" alt="settings" height="20" width="20" />
      <span>Settings</span>
    </li>

    <li (click)="setNotificationSoundState(vm.isNotificationSoundOn)" class="menu-item">
      <img
        [ngSrc]="
          (vm.isNotificationSoundOn ? 'notifications-active' : 'notifications-off') | icon
        "
        alt="notifications"
        height="20"
        width="20"
      />
      <span>{{
        vm.isNotificationSoundOn ? 'Snooze notifications' : 'Activate notifications'
      }}</span>
    </li>

    <li (click)="onModeChange()" class="menu-item mode-toggle-item">
      <div class="image-and-text-holder">
        <img [ngSrc]="'dark-mode' | icon" alt="mode" height="20" width="20" />
        <span>Night Mode</span>
      </div>

      <app-switcher
        [formControl]="themeModeSwitcher"
        checkboxId="night-mode-switcher-id"
        class="switcher"
      ></app-switcher>
    </li>

    <li (click)="openLogOut()" class="menu-item danger">
      <img [ngSrc]="'log-out-red' | icon" alt="logOut" height="20" width="20" />
      <span>Log Out</span>
    </li>
  </ul>

  <footer class="footer">
    <a class="telegram-desktop" href="https://telegram.org/" target="_blank"
      >Telegram Desktop</a
    >

    <div class="telegram-info">
      <span (click)="openVersion()" *ngIf="vm.versions.length" class="telegram-info-text"
        >Version {{ vm.versions[0].version }}
      </span>
      <span> — </span>
      <span (click)="openAbout()" class="telegram-info-text">About</span>
    </div>
  </footer>
</aside>
