<div class="search-bar">
  <button class="menu-button" type="button" (click)="openUserMenu()">
    <img [ngSrc]="'menu' | icon" width="22" height="22" alt="menu" />
  </button>

  <label class="label" for="contact-search-input-bar">
    <input
      [formControl]="control"
      placeholder="Search"
      id="contact-search-input-bar"
      class="input"
      type="text"
    />
  </label>
</div>

<ng-container *ngrxLet="vm$; let vm">
  @if (vm.userData?.contacts?.length) {
  <ul #contactList class="contact-list">
    @for (dialog of vm.userData?.contacts | arrayFilter: control.value : 'userName'; track
    dialog.userName) {
    <li class="contact" (click)="setSelectedUserId(vm.selectedContact?.id, dialog)">
      <app-dialog
        [class.selected]="dialog.id === vm.selectedContact?.id"
        [contact]="dialog"
      ></app-dialog>
    </li>
    } @if (noSearchResults) {
    <li class="no-search-results">
      {{ 'No results for: ' + control.value }}
    </li>
    }
  </ul>
  } @else {
  <div class="no-contacts">No contacts</div>
  }
</ng-container>

@if (isScrollCircleShown) {
<app-scroll-circle
  class="scroll-circle"
  type="up"
  (click)="onScrollUp()"
></app-scroll-circle>
}
