<div class="search-bar">
  <button class="menu-button" type="button" (click)="openUserMenu()">
    <img [ngSrc]="'menu' | icon" width="22" height="22" alt="menu" />
  </button>

  <label class="label" for="contact-search-input-bar">
    <input placeholder="Search" id="contact-search-input-bar" class="input" type="text" />
  </label>
</div>

<ng-container *ngrxLet="vm$; let vm">
  @if (vm.dialogs.length) {
  <ul #contactList class="contact-list">
    @for (dialog of vm.dialogs; track dialog.userName) {
    <li class="contact" (click)="setSelectedDialog(vm.selectedDialog?.id, dialog)">
      <app-dialog
        [class.selected]="dialog.id === vm.selectedDialog?.id"
        [dialog]="dialog"
      ></app-dialog>
    </li>
    }
  </ul>
  }
</ng-container>

@if (isScrollCircleShown) {
<app-scroll-circle
  class="scroll-circle"
  type="down"
  (click)="onScrollUp()"
></app-scroll-circle>
}
