:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  padding: 20px 12px 12px 20px;
  border-radius: 8px;
  background-color: var(--white1);
}

.main-content {
  margin-bottom: 16px;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

// Style for modes
:host-context([mode="night"]) {
  :host {
    background-color: var(--dark-mode-2);
  }

  .main-content {
    color: var(--white1);
  }
}
