@import '../../../../../../../../styles/variables';

$date-width: 52px;

:host {
  display: flex;
  gap: 8px;
  width: fit-content;
  padding: 8px;
  border-radius: 12px;
  background-color: var(--white1);
}

.message {
  max-width: calc(100% - $date-width);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  word-break: break-word;
}

.like {
  font-size: 13px;
}

.like-pic {
  position: relative;
  bottom: -2px;
}

.message-date {
  width: $date-width;
  position: relative;
  bottom: -4px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

:host-context(.your-message) {
  background-color: var(--green_light1);
}
