:host {
  flex: 1 1 auto;
  overflow: auto;
}

.message-list {
  padding: 16px;
}

.message {
  margin-bottom: 6px;

  &.your-message {
    display: flex;
    justify-content: flex-end;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.scroll-circle {
  position: absolute;
  right: 28px;
  bottom: 62px;
}
