<section>
  <app-input
    [formControl]="searchControl"
    class="search-input"
    placeholder="Search"
  ></app-input>

  <ul
    *ngrxLet="
      { contacts: contacts$, dialogs: dialogs$, selectedDialog: selectedDialog$ };
      let vm
    "
    class="contact-list"
  >
    @for (contact of vm.contacts | arrayFilter: searchControl.value : 'name'; track
    contact.uuid) {
    <li class="contact" (click)="onContactSelect(contact, vm.dialogs, vm.selectedDialog)">
      <app-contact [contact]="contact"></app-contact>
    </li>
    }
  </ul>
</section>

<footer class="footer">
  <app-button (click)="onAddContact()" variant="text">Add contact</app-button>
  <app-button (click)="closeAction()" variant="text">Close</app-button>
</footer>
