<section>
  <app-input
    [formControl]="searchControl"
    class="search-input"
    placeholder="Search"
  ></app-input>

  <ul *ngrxLet="contacts$; let contacts">
    @for (contact of contacts | arrayFilter: searchControl.value : 'name'; track 'id') {
    <li class="contact">
      <app-contact [contact]="contact"></app-contact>
    </li>
    }
  </ul>
</section>

<footer class="footer">
  <app-button (click)="closeAction()" variant="text">Add contact</app-button>
  <app-button (click)="closeAction()" variant="text">Close</app-button>
</footer>
