:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 306px;
  border-radius: 8px;
  background-color: var(--white1);
}

.search-input {
  padding: 12px 12px 0 12px;
}

.contact-list {
  height: 350px;
  overflow-y: auto;
}

.contact {
  cursor: pointer;

  &:hover {
    background-color: var(--gray_light2);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-top: 1px solid var(--unknown_gray);
}

// Style for modes
:host-context([mode='night']) {
  :host {
    background-color: var(--dark-mode-2);
  }

  .contact:hover {
    background-color: var(--dark-mode-1);
  }
}
