<app-input
  class="input"
  placeholder="Search..."
  [formControl]="filterControl"
></app-input>

<ul class="contact-list">
  <li
    class="contact"
    #contactList
    *ngFor="
      let contact of contacts | appContactsFilter: filterControl.value;
      trackBy: trackBy
    "
  >
    <app-contact
      [class.selected]="contact.id === selectedContactId"
      [contact]="contact"
      (click)="onContactSelect(contact)"
    ></app-contact>
  </li>
</ul>

<app-scroll-circle
  class="scroll-circle"
  type="up"
  *ngIf="isScrollCircleShown"
  (click)="onScrollUp()"
></app-scroll-circle>
