@use 'src/assets/styles/variables';

:host {
  position: relative;
  display: block;
}

.input {
}

.contact-list {
  height: calc(100vh - 36px);
  overflow-y: scroll;
}

.contact {
}

.scroll-circle {
  position: absolute;
  right: 25px;
  bottom: 10px;
  box-shadow: 5px 5px 15px map-get(variables.$wb-palette, 20);
}
