@import '../../../../../styles/variables';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-left: 1px solid var(--gray_light8);
  background-color: var(--white1);
}

.header {
  display: flex;
  height: 32px;
}

.avatar {
  margin-right: 16px;
}

.name {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

.online-indicator {
  font-size: 11px;
  line-height: 11px;
  color: var(--gray_dark8);

  &.online {
    color: var(--blue_medium8);
  }
}
