<aside *ngrxLet="modalData.userFacade.vm$; let vm" class="aside">
  @if (vm.userData) {
  <header class="header">
    <div class="top-header">
      <img [ngSrc]="vm.userData.avatar" width="42" height="42" alt="avatar" />
      <button type="button" (click)="closeAction()">
        <img [ngSrc]="'close' | icon" width="16" height="16" alt="close" />
      </button>
    </div>

    <span class="user-name">{{ vm.userData.userName }}</span>
  </header>
  }

  <ul class="menu-list">
    <li class="menu-item">
      <img [ngSrc]="'account-circle' | icon" width="20" height="20" alt="account" />
      <span class="text">Contacts</span>
    </li>

    <li class="menu-item">
      <img [ngSrc]="'bookmark' | icon" width="20" height="20" alt="bookmark" />
      <span class="text">Saved Messages</span>
    </li>

    <li class="menu-item">
      <img [ngSrc]="'settings' | icon" width="20" height="20" alt="settings" />
      <span class="text">Settings</span>
    </li>

    <li class="menu-item">
      <img [ngSrc]="'dark-mode' | icon" width="20" height="20" alt="mode" />
      <span class="text">Night Mode</span>
    </li>
  </ul>
</aside>

<footer>footer</footer>
