:host {
  display: block;
  height: 100%;
  background-color: white;
}

.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  padding: 20px 20px 12px 20px;
  border-bottom: 1px solid var(--gray_light8);
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}

.user-name {
  font-size: 13px;
  font-weight: 500;
}

.menu-list {
  flex: 1 1 auto;
  margin-top: 6px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;

  &:hover {
    background-color: var(--gray_light2);
    cursor: pointer;
  }
}

.text {
  font-size: 14px;
}

.footer {
  padding: 20px;
}

.telegram-desktop {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray_dark7);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.version {
  font-size: 11px;
  color: var(--gray_dark5);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.about {
  font-size: 11px;
  color: var(--gray_dark5);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
