@use 'src/assets/styles/variables';

$chat-block-width: 75%;

:host {
  display: flex;
  height: 100%;
}

.contacts {
  width: calc(100% - $chat-block-width);
  border-right: 1px solid map-get(variables.$wb-palette, 20);
}

.chat-block {
  width: $chat-block-width;
}
