@if (isLoading) {
<app-message-skeleton></app-message-skeleton>
} @else {
<ul class="message-list">
  @for (message of messages; track message.id) {
  <li class="message" [class.your-message]="message.uuid === uuid">
    <app-message
      [isYoursMessage]="message.uuid === uuid"
      [message]="message"
    ></app-message>
  </li>
  }
</ul>
} @if (hasTheChatBottomBeenReached && !isLoading) {
<app-scroll-circle
  class="scroll-circle"
  type="up"
  (click)="scrollDown()"
></app-scroll-circle>
}
