:host {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}

.modal-frame-container {
  display: flex;
  height: 100%;
  width: 100%;

  &.aside {
    justify-content: flex-start;
  }

  &.middle {
    justify-content: center;
    align-items: center;
  }
}
