:host {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-frame-container {
  height: 100%;
  width: 100%;

  &.aside {
    width: 30%;
  }

  &.middle {
    margin: 0 auto;
    width: 30%;
  }
}
