:host {
  display: block;
  width: 100%;
}

.input {
  display: block;
  height: 36px;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid var(--unknown_gray);
  background-color: transparent;
  color: var(--black1);

  &.valid:not(&.invalid, &:focus, &:disabled) {
    border-color: var(--green_bright2);
  }

  &.invalid {
    border-color: var(--red3);
  }

  &:focus:not(&.invalid, &:disabled) {
    border-color: var(--blue_light7);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

// Style for modes
:host-context([mode='night']) {
  .input {
    color: var(--gray_light8);

    &::placeholder {
      color: var(--steel-gray_light8);
    }
  }
}
