@import '../../../../../../../styles/variables';

$action-button-width: 24px;
$horizontal-padding: 16px;

:host {
  display: flex;
  padding: 8px $horizontal-padding;
  border-left: 1px solid var(--gray_light8);
  background: var(--white1);
}

.chat-input {
  width: calc(
    100% - #{$action-button-width} - #{$action-button-width} - #{$action-button-width}
  );
  min-height: 28px;
  max-height: 196px;
  overflow-y: auto;
  outline: none;

  &:empty::before {
    content: attr(data-placeholder);
    display: block;
    pointer-events: none;
    color: rgb(var(--spr-grey-550));
  }
}

.emoji-menu {
  position: absolute;
  bottom: 10px;
  right: 62px;
  width: $action-button-width;
  height: 24px;
}

.send-message {
  position: absolute;
  bottom: 10px;
  right: 16px;
  width: $action-button-width;
  height: 24px;
}
