<div
  #chatInput
  appContenteditable
  contenteditable="true"
  class="chat-input"
  [ngModel]="input"
  [attr.data-placeholder]="placeholder"
  (ngModelChange)="setInput($event)"
  (sendMessage)="sendMessage()"
></div>

<div class="action-buttons">
  <button class="action-button" type="button" (click)="openEmojiMenu()">
    <img [ngSrc]="'smile' | icon" width="24" height="24" alt="emoji" />
  </button>

  <button class="action-button" type="button" (click)="sendMessage()">
    <img [ngSrc]="'send' | icon" width="24" height="24" alt="send" />
  </button>
</div>
