<div
  #chatInput
  appContenteditable
  contenteditable="true"
  [formControl]="control"
  [attr.data-placeholder]="'Write a message...'"
  class="chat-input"
  type="text"
  (sendMessage)="sendMessage()"
></div>

<button class="emoji-menu" type="button" (click)="openEmojiMenu()">
  <img [ngSrc]="'smile' | icon" width="24" height="24" alt="emoji" />
</button>

<button class="send-message" type="button" (click)="sendMessage()">
  <img [ngSrc]="'send' | icon" width="24" height="24" alt="send" />
</button>
