@import '../../../../../../../styles/variables';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  border-left: 1px solid var(--gray_light8);
  background: var(--white1);
}

.chat-input {
  width: 100%;
  height: 28px;

  &:empty::before {
    content: attr(data-placeholder);
    display: block;
    pointer-events: none;
    color: rgb(var(--spr-grey-550));
  }
}

.action-button {
  width: 24px;
  height: 24px;
}
