:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 288px;
  width: 338px;
  padding: 12px 12px 12px 20px;
  border-radius: 8px;
  background-color: var(--white1);
}

.main-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.version {
  font-size: 12px;
  color: var(--gray_dark5);

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.info-paragraph {
  font-size: 12px;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

// Style for modes
:host-context([mode="night"]) {
  :host {
    background-color: var(--dark-mode-2);
  }

  .heading {
    color: var(--gray_light8);
  }

  .info-paragraph {
    color: var(--gray_light8);
  }
}

