<form class="form-group" [formGroup]="formGroup" (ngSubmit)="onLogin()">
  <h2 class="heading">Login</h2>

  <article
    *ngIf="serverErrorMessage$ | ngrxPush as error"
    class="server-error-message"
  >
    {{ error }}
  </article>

  <app-input
    [errorState]="errorState[loginFormKey.Email]"
    [id]="loginFormKey.Email"
    [formControlName]="loginFormKey.Email"
    [label]="labels[loginFormKey.Email]"
  ></app-input>

  <app-input
    [errorState]="errorState[loginFormKey.Password]"
    [id]="loginFormKey.Password"
    [formControlName]="loginFormKey.Password"
    [label]="labels[loginFormKey.Password]"
    type="password"
  ></app-input>

  <app-button
    [disabled]="formGroup.disabled"
    [meta]="{ variant: 'regular', type: 'large' }"
    type="submit"
  >
    Submit
  </app-button>

  <app-button type="button" [meta]="{ variant: 'regular', type: 'text' }">
    <a class="link" [routerLink]="['/' + appPages.Registration]"
      >Go to registration</a
    >
  </app-button>
</form>
