<form class="form-group" [formGroup]="formGroup" (ngSubmit)="onLogin()">
  <h2 class="heading">Login</h2>

  <article *ngIf="errorMsg$ | ngrxPush as error" class="server-error-message">
    {{ error }}
  </article>

  <app-input
    [placeholder]="placeholders[loginFormKey.Email]"
    [errorState]="errorState[loginFormKey.Email]"
    [formControlName]="loginFormKey.Email"
    [id]="loginFormKey.Email"
  ></app-input>

  <app-input
    [placeholder]="placeholders[loginFormKey.Password]"
    [errorState]="errorState[loginFormKey.Password]"
    [formControlName]="loginFormKey.Password"
    [id]="loginFormKey.Password"
    type="password"
  ></app-input>

  <app-button
    [disabled]="formGroup.disabled"
    class="submit-button"
    variant="regular"
    type="submit"
  >
    Submit
  </app-button>

  <app-button class="registration-button" type="button" variant="text">
    <a class="link" [routerLink]="['/' + appRoutes.Registration]"
      >Go to registration</a
    >
  </app-button>
</form>
