<form class="form-group" [formGroup]="formGroup" (ngSubmit)="onLogin()">
  <h2 class="heading">Login</h2>

  <article *ngIf="serverErrorMessage" class="server-error-message">
    {{ serverErrorMessage }}
  </article>

  <app-input
    [errorState]="errorState[loginFormKey.Email]"
    [id]="loginFormKey.Email"
    [formControlName]="loginFormKey.Email"
    [label]="labels[loginFormKey.Email]"
  ></app-input>

  <app-input
    [errorState]="errorState[loginFormKey.Password]"
    [id]="loginFormKey.Password"
    [formControlName]="loginFormKey.Password"
    [label]="labels[loginFormKey.Password]"
    type="password"
  ></app-input>

  <app-button
    [disabled]="formGroup.disabled"
    class="submit-button"
    type="submit"
  >
    Submit
  </app-button>

  <a class="link" [routerLink]="['/' + appPages.Registration]"
    >Go to registration</a
  >
</form>
