:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 362px;
}

.heading {
  text-align: center;
  margin-bottom: 16px;
}

.server-error-message {
  color: red;
}

.submit-button {
  margin: 0 auto;
}

.link {
  margin: 0 auto;
}
