<button (click)="openUserMenu()" class="menu-button" type="button">
  <img [ngSrc]="'menu' | icon" alt="menu" height="22" width="22" />
</button>

<label class="label" for="contact-search-input-bar">
  @if (view === 'search-panel') {
  <span class="close-cross-wrapper" (click)="onChangeView($event, 'dialogs')">
    <img [ngSrc]="'close' | icon" width="16" height="16" alt="close" />
  </span>
  }

  <input
    (click)="onChangeView($event, 'search-panel')"
    [class.on-search-mode]="view === 'search-panel'"
    [formControl]="searchControl"
    class="input"
    id="contact-search-input-bar"
    placeholder="Search"
    type="text"
  />
</label>
