:host {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.label {
  position: relative;
  height: 32px;
  width: 100%;
}

.input {
  height: inherit;
  width: inherit;
  padding: 0 32px 0 32px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 22px;
  border: 1px solid var(--gray_light6);
  background-color: var(--gray_light6);

  &.on-search-mode {
    background-color: var(--white1);
    padding-left: 16px;
  }
}

.search-img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}

.close-cross-wrapper {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  &:hover {
    background-color: var(--gray_light4);
    cursor: pointer;
  }
}

// Style for modes
:host-context([mode="night"]) {
  .input {
    border-color: var(--steel-gray_light8);
    background-color: var(--dark-mode-1);

    &::placeholder {
      color: var(--gray_light8);
    }
  }
}
