<div class="main-info">
  <h4>Telegram Desktop</h4>

  <p class="version" (click)="openVersion()">Version {{ version$ | ngrxPush }}</p>

  <p class="info-paragraph">
    Free messaging app based on
    <app-link href="https://www.electronjs.org/">Electron</app-link>
    platform and
    <app-link href="https://v17.angular.io/docs">Angular</app-link>
    framework.
  </p>

  <p class="info-paragraph">
    Source code is available on
    <app-link href="https://github.com/emmat-york/messenger">GitHub</app-link>
    . This App is absolutely free from UI libraries so it makes it quick as much as it
    possible. The App is constantly improving to be faster and more secured.
  </p>

  <p class="info-paragraph">
    For more information visit my profile on
    <app-link href="https://www.linkedin.com/in/andrei-filimonchyk-35a033135/"
      >LinkedIn.
    </app-link>
  </p>
</div>

<footer class="footer">
  <app-button variant="text" (click)="closeAction()">Close</app-button>
</footer>
