<form class="form-group" [formGroup]="formGroup" (ngSubmit)="onSignIn()">
  <h1 class="heading">{{ 'Auth.SignIn' | translate }}</h1>

  <div class="control-container">
    <app-label [for]="signInKey.Login">
      {{ 'Auth.Login' | translate }}
    </app-label>

    <app-text-input
      [classes]="getControlStateClasses(signInKey.Login)"
      [formControlName]="signInKey.Login"
      [id]="signInKey.Login"
    ></app-text-input>

    <app-error-message *ngIf="hasError(signInKey.Login)">
      {{ getErrorMessage(signInKey.Login) }}
    </app-error-message>
  </div>

  <div class="control-container">
    <app-label [for]="signInKey.Password">
      {{ 'Auth.Password' | translate }}
    </app-label>

    <app-text-input
      [classes]="getControlStateClasses(signInKey.Password)"
      [formControlName]="signInKey.Password"
      [id]="signInKey.Password"
    ></app-text-input>

    <app-error-message *ngIf="hasError(signInKey.Password)">
      {{ getErrorMessage(signInKey.Password) }}
    </app-error-message>
  </div>

  <button [disabled]="formGroup.invalid || formGroup.disabled" type="submit">
    {{ 'Auth.Submit' | translate }}
  </button>
</form>
