<form class="form-group" [formGroup]="formGroup" (ngSubmit)="onSignIn()">
  <h1>{{ 'Auth.SignIn' | translate }}</h1>

  <div class="controls">
    <app-error-message *ngIf="errorMessage$ | async as errorMessage">
      {{ errorMessage }}
    </app-error-message>

    <div class="control">
      <app-label class="label" [for]="signInKeys.Login">
        {{ 'Auth.Login' | translate }}
      </app-label>

      <app-input
        [classes]="getStateClasses(signInKeys.Login)"
        [formControlName]="signInKeys.Login"
        [id]="signInKeys.Login"
      ></app-input>

      <app-error-message *ngIf="hasError(signInKeys.Login)">
        {{ getErrorMessage(signInKeys.Login) }}
      </app-error-message>
    </div>

    <div class="control">
      <app-label class="label" [for]="signInKeys.Password">
        {{ 'Auth.Password' | translate }}
      </app-label>

      <app-input
        [classes]="getStateClasses(signInKeys.Password)"
        [formControlName]="signInKeys.Password"
        [id]="signInKeys.Password"
      ></app-input>

      <app-error-message *ngIf="hasError(signInKeys.Password)">
        {{ getErrorMessage(signInKeys.Password) }}
      </app-error-message>
    </div>

    <app-button class="sign-up-button" variant="tertiary" routerLink="/sign-up">
      {{ 'Auth.SignUp' | translate }}
    </app-button>
  </div>

  <app-button [disabled]="!isSubmittable" type="submit">
    {{ 'Auth.Submit' | translate }}
  </app-button>
</form>

<app-language-switcher class="language-switcher"></app-language-switcher>
