@use 'src/assets/styles/variables';

:host {
  display: block;
  height: calc(100vh - #{variables.$header-height} - 36px);
  padding: 0 10px;
}

.message-list {
  height: 100%;
  overflow-y: auto;
}

.message:not(.message:last-child) {
  margin-bottom: 5px;
}
