<div appClickOutside (clickOutside)="onClickOutSide()" [id]="dropdownId">
  <button
    class="dropdown-button"
    type="button"
    [disabled]="disabled"
    (click)="onDropdownClick()"
  >
    <span class="title">{{ selectedValueTitle }}</span>
    <img
      [class.expanded]="isDropdownShown"
      src=""
      [alt]="isDropdownShown ? 'expanded' : 'collapsed'"
    />
  </button>

  @if (isDropdownShown) {
  <ul class="option-list">
    @for (option of options; track option.value) {
    <li class="option" (click)="onOptionClick(option)">
      {{ option.title }}
    </li>
    }
  </ul>
  }
</div>
