<div appClickOutside (clickOutside)="onClickOutSide()">
  <button
    class="dropdown-button"
    type="button"
    [disabled]="disabled"
    (click)="onDropdownClick()"
    (blur)="onDropdownBlur()"
  >
    <span class="title">{{ selectedValueTitle }}</span>
    <img [class.expanded]="isDropdownShown" src="" alt="" />
  </button>

  @if (isDropdownShown) {
  <ul class="option-list">
    @for (option of options; track option.value) {
    <li class="option" (click)="onOptionClick(option)">
      {{ option.title }}
    </li>
    }
  </ul>
  }
</div>
