@use 'src/assets/styles/variables';

$avatar-width: 48px;
$indent: 10px;

:host {
  display: flex;
  padding: 10px;
  cursor: pointer;

  &.selected {
    background-color: map-get(variables.$blue-palette, 10);
  }

  &:hover:not(.selected) {
    background-color: map-get(variables.$wb-palette, 20);
  }
}

.avatar {
  margin-right: $indent;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - $avatar-width - $indent);
}

.top-block {
  display: flex;
  justify-content: space-between;
}
