<form class="form-group" [formGroup]="formGroup" (ngSubmit)="onRegistration()">
  <h2 class="heading">Registration</h2>

  <app-input
    [errorState]="errorState[signUpFormKey.Email]"
    [formControlName]="signUpFormKey.Email"
    [label]="labels[signUpFormKey.Email]"
    [id]="signUpFormKey.Email"
  ></app-input>

  <app-input
    [errorState]="errorState[signUpFormKey.Password]"
    [formControlName]="signUpFormKey.Password"
    [label]="labels[signUpFormKey.Password]"
    [id]="signUpFormKey.Password"
  ></app-input>

  <app-button class="submit-button" type="submit">Submit</app-button>

  <a [routerLink]="['/' + appPages.Login]">Go to login</a>
</form>
