<form class="form-group" [formGroup]="formGroup" (ngSubmit)="onRegistration()">
  <h2 class="heading">Registration</h2>

  <app-input
    [errorState]="errorState[registrationFormKey.Email]"
    [formControlName]="registrationFormKey.Email"
    [label]="labels[registrationFormKey.Email]"
    [id]="registrationFormKey.Email"
  ></app-input>

  <app-input
    [errorState]="errorState[registrationFormKey.Password]"
    [formControlName]="registrationFormKey.Password"
    [label]="labels[registrationFormKey.Password]"
    [id]="registrationFormKey.Password"
  ></app-input>

  <app-input
    [errorState]="errorState[registrationFormKey.UserName]"
    [formControlName]="registrationFormKey.UserName"
    [label]="labels[registrationFormKey.UserName]"
    [id]="registrationFormKey.UserName"
  ></app-input>

  <app-button type="submit">Submit</app-button>
</form>
