<form (ngSubmit)="submit()" [formGroup]="formGroup" class="form-group">
  <h2 class="heading">Registration</h2>

  @if (errorMsg$ | ngrxPush; as error) {
  <article class="server-error-message">
    {{ error }}
  </article>
  }

  <app-input
    [errorState]="errorState[signUpFormKey.Email]"
    [formControlName]="signUpFormKey.Email"
    [id]="signUpFormKey.Email"
    placeholder="Email"
  ></app-input>

  <app-input
    [errorState]="errorState[signUpFormKey.UserName]"
    [formControlName]="signUpFormKey.UserName"
    [id]="signUpFormKey.UserName"
    placeholder="User name"
  ></app-input>

  <app-input
    [errorState]="errorState[signUpFormKey.Password]"
    [formControlName]="signUpFormKey.Password"
    [id]="signUpFormKey.Password"
    placeholder="Password"
    type="password"
  ></app-input>

  <app-button
    [disabled]="formGroup.disabled || formGroup.invalid"
    class="submit-button"
    type="submit"
    >Submit
  </app-button>

  <app-button
    [disabled]="formGroup.disabled"
    class="registration-button"
    type="button"
    variant="text"
  >
    <a [routerLink]="['/messenger']" class="link">Go to login</a>
  </app-button>
</form>
