@import '../../../../../../../styles/variables';

$avatar-width: 48px;
$avatar-indent: 16px;

:host {
  display: flex;
  gap: $avatar-indent;
  padding: 8px 16px;
  cursor: pointer;
}

.online {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    bottom: 4px;
    right: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--green_bright2);
  }
}

.contact-info {
  width: calc(100% - #{$avatar-width} - #{$avatar-indent});
}

.name-and-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.user-name {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.date {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.message {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host(.selected) {
  .user-name,
  .message,
  .date {
    color: var(--white1);
  }
}
