:host {
  position: relative;
  bottom: -1px;
  display: inline-block;
  width: 30px;
  height: 13px;
}

.label {
  position: relative;
  display: inline-block;
  width: inherit;
  height: inherit;
  cursor: pointer;
}

.toggle {
  width: 0;
  height: 0;
  appearance: none;

  &:checked + .slider {
    background-color: var(--blue_light5);
  }

  &:checked + .slider:before {
    transform: translateX(11px);
    border: 2px solid var(--blue_light5);
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  background-color: var(--gray_light9);
  transition: 0.4s;

  &:before {
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    left: 1px;
    bottom: -2px;
    border: 2px solid var(--gray_light9);
    border-radius: 50%;
    background-color: var(--white1);
    transition: 0.4s;
  }
}
