<header class="header">
  <ng-container [ngSwitch]="type">
    <ng-template ngSwitchCase="success">
      <img [src]="icon.Success | appIcon" alt="success" />
    </ng-template>

    <ng-template ngSwitchCase="warning">
      <img [src]="icon.Warning | appIcon" alt="warning" />
    </ng-template>

    <ng-template ngSwitchCase="error">
      <img [src]="icon.Error | appIcon" alt="error" />
    </ng-template>
  </ng-container>

  <h3>{{ type | titlecase }}</h3>
  <button class="close-button" type="button" (click)="closeAction()">
    <img [src]="icon.Close | appIcon" alt="error" />
  </button>
</header>

<div [ngClass]="type">{{ message }}</div>
