@import 'styles/variables';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--openSans);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;

  &:disabled {
    opacity: var(--opacity);
  }
}

a {
  text-decoration: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

button,
input,
a {
  font-family: var(--openSans);
  font-style: normal;

  &:disabled {
    cursor: not-allowed;
  }
}

::-webkit-scrollbar {
  display: none;
}
