@use 'assets/styles/variables';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: variables.$montserrat;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
