$montserrat: 'Montserrat', sans-serif;

$blue-palette: (
        10: #BFD7ED,
        20: #60A3D9,
        30: #0074B7,
        40: #003B73,
);

$system-palette: (
        success: #32CD30,
        warning: #FFD53D,
        error: #FF2511,
);

$wb-palette: (
        10: #ffffff,
        20: #D6D6D6,
        30: #8C8C8C,
        40: #44444C,
        50: #0B0909,
);
