$montserrat: 'Montserrat', sans-serif;

// palettes
$blue-palette: (
  10: #bfd7ed,
  20: #60a3d9,
  30: #0074b7,
  40: #003b73,
);

$system-palette: (
  success: #32cd30,
  warning: #ffd53d,
  error: #ff2511,
);

$wb-palette: (
  10: #ffffff,
  20: #d6d6d6,
  30: #8c8c8c,
  40: #44444c,
  50: #0b0909,
);

// sizes
$chat-input-height: 42px;
