$inter: 'Inter', sans-serif;

$colorful-palette: (
  white: #FFFFFF,
  icebergBlue: #8babd8,
  blue: #1a9cff,
  lightGreen: #78e378,
  red: #f71735,
  richBlack: #011627,
  navyGrey: #707991,
  lightGrey: #f5f5f5,
  darkGrey: #d9dce0,
);
