<h3 class="heading">Telegram desktop</h3>

<p class="info-paragraph">
  Telegram is a cloud-based instant messaging app known for its speed, security, and
  versatility. It allows users to send text messages, voice messages, multimedia files,
  and documents of various formats. Telegram supports both private chats and group
  conversations, with the ability to host groups of up to 200,000 members and channels for
  broadcasting messages to unlimited audiences.
</p>

<p class="info-paragraph">
  Key features include end-to-end encryption for secret chats, cross-platform
  accessibility, and powerful customization options. Telegram also offers bots, which can
  automate tasks, provide information, or create interactive experiences. With a focus on
  privacy and innovation, Telegram has gained popularity as a reliable alternative to
  traditional messaging apps.
</p>

<footer class="footer">
  <app-button (click)="closeAction()" variant="text">Close</app-button>
</footer>
