@import '../../../../../assets/styles/variables';

:host {
  display: block;
  height: 100%;
  border-right: 1px solid map-get($colorful-palette, darkGrey);
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.menu-button {
  height: 24px;
  width: 24px;
  margin: 0 16px;
}

.label {
  position: relative;
  height: 32px;
  width: 100%;
  margin-right: 16px;
}

.input {
  height: inherit;
  width: inherit;
  padding: 12px;
  font-family: $inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 22px;
  background-color: map-get($colorful-palette, lightGrey);
  color: map-get($colorful-palette, navyGrey);

  &:hover:not(&:focus) {
    opacity: 0.8;
  }

  &:focus {
    outline: 1.5px solid map-get($colorful-palette, lightGrey);
    background-color: map-get($colorful-palette, white);
  }
}

.contact-list {
  height: calc(100% - 65px);
  overflow-y: auto;
}
