<div class="search-bar">
  <button class="menu-button" type="button">
    <img [ngSrc]="'menu' | icon" width="22" height="22" alt="menu" />
  </button>

  <label class="label" for="contact-search-input-bar">
    <input
      [formControl]="control"
      placeholder="Search"
      id="contact-search-input-bar"
      class="input"
      type="text"
    />
  </label>
</div>

<ng-container *ngrxLet="userVM$; let userVM">
  <ul
    *ngIf="userVM.userData?.contacts?.length; else noContacts"
    class="contact-list"
  >
    <li
      *ngFor="
        let contact of userVM.userData?.contacts
          | arrayFilter: control.value : 'userName'
      "
      (click)="setSelectedUserId(userVM.selectedContact?.id, contact)"
    >
      <app-contact
        [class.selected]="contact.id === userVM.selectedContact?.id"
        [contact]="contact"
      ></app-contact>
    </li>
  </ul>
</ng-container>

<ng-template #noContacts>
  <div class="no-contacts">No contacts</div>
</ng-template>
