<div class="search-bar">
  <button class="menu-button" type="button">
    <img [ngSrc]="'menu' | icon" width="24" height="24" alt="menu" />
  </button>

  <label class="label" for="contact-search-input-bar">
    <input
      [formControl]="control"
      placeholder="Search"
      id="contact-search-input-bar"
      class="input"
      type="text"
    />
  </label>
</div>

<ul class="contact-list" *ngrxLet="userVM$; let userVM">
  @for (contact of (userVM.userData?.contacts || []) | arrayFilter: control.value: 'userName'; track contact.userName) {
  <li (click)="setSelectedUserId(contact.id)">
    <app-contact
      [class.selected]="contact.id === userVM.selectedUserId"
      [contact]="contact"
    ></app-contact>
  </li>
  }
</ul>
