:host {
  display: block;
  height: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid var(--gray_light8);
}

.menu-button {
  height: 24px;
  width: 24px;
  margin: 0 16px;
}

.label {
  position: relative;
  height: 32px;
  width: 100%;
  margin-right: 16px;
}

.input {
  height: inherit;
  width: inherit;
  padding: 12px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 22px;
}

.contact-list {
  height: calc(100% - 65px);
  overflow-y: auto;
}

.contact {
  &:hover:not(.selected) {
    background-color: var(--gray_light2);
  }
}

.selected {
  background-color: var(--blue_light8);
}

.no-contacts {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 22px;
  text-align: center;
}
