@import '../../../../../../../styles/variables';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.header {
  display: flex;
}

.avatar {
  margin-right: 16px;
}

.name {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
