:host {
  position: relative;
  display: block;
}

.contact-list {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  outline: none;
}

.contact:hover:not(.selected) {
  background-color: var(--gray_light2);
}

.selected {
  background-color: var(--blue_light8);
}

.scroll-circle {
  position: absolute;
  right: 28px;
  bottom: 28px;
}

.no-dialogs {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  color: var(--gray_light10);
}

// Style for modes
:host-context([mode="night"]) {
  .contact:hover:not(.selected) {
    background-color: var(--dark-mode-1);
  }

  .selected {
    position: relative;
    background-color: transparent;

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      height: 30px;
      width: 3px;
      background-color: var(--blue_light8);
    }
  }
}
