<ng-container *ngrxLet="vm$; let vm">
  @if (vm.dialogs.length) {
  <ul #contactList class="contact-list">
    @for (dialog of vm.dialogs; track dialog.userName) {
    <li class="contact" (click)="setSelectedDialog(vm.selectedDialog?.id, dialog)">
      <app-dialog
        [class.selected]="dialog.id === vm.selectedDialog?.id"
        [dialog]="dialog"
      ></app-dialog>
    </li>
    }
  </ul>
  }
</ng-container>

@if (isScrollCircleShown) {
<app-scroll-circle
  class="scroll-circle"
  type="down"
  (click)="onScrollUp()"
></app-scroll-circle>
}
